<%#= render partial: 'recipes_selection' %>

<h1><%= @recipe.title %></h1>

<h4>Ingredients:</h4>
<ul style="list-style: none;">
  <% @recipe.ingredients.uniq.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>
<h4>Cook time (minutes)</h4>
<p><%= @recipe.cook_time %></p>
<h4>Preparation time (minutes)</h4>
<p><%= @recipe.prep_time %></p>
<h4>Author</h4>
<p><%= @recipe.author %></p>
<h4>Category</h4>
<p><%= @recipe.category %></p>
<h4>Ratings</h4>
<p><%= @recipe.ratings %></p>


<div style="width: 100%"> <%= image_tag @recipe.image, alt: @recipe.title, style: "width:30%;" %></div>

